<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <!-- <div class="card-header">
                    <strong>Company</strong>
                    <small>Form</small>
                </div> -->
                <div class="card-body" style="background-color: black;">
                    <form>
                        <div class=" row">

                            <h3 class="title">Search Words</h3><br />

                        </div>


                        <div class=" row">
                            <div class=" col-md-6 px-md-1">
                                <div class="form-group">
                                    <label for="company">Possitive Words</label>
                                    <input type="text" class="form-control"
                                        placeholder="Please enter multiple search words seperated with commas(,)" sformControlName="possitiveWords" id="possitiveWords">
                                </div>
                            </div>

                            <div class=" col-md-6 px-md-1">
                                <div class="form-group">
                                    <label for="company">Negative Words</label>
                                    <input type="text" class="form-control"
                                        placeholder="Please enter multiple search words seperated with commas(,)">
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class=" row">

                            <h3 class="title">Authors</h3>

                        </div>
                        <div class=" row">
                            <div class=" col-md-6 px-md-1">
                                <input type="text" class="form-control"
                                    placeholder="Please enter multiple search authors seperated with commas(,)">
                            </div>
                        </div>

                        <br /><br />
                        <div class=" row">

                            <h3 class="title">Labels</h3>

                        </div>

                        <div class=" row">
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <!-- <label> Possitive Words </label> -->
                                    <select class=" form-control">
                                        <option class="options">Select Label</option>
                                        <option class="options">Website</option>
                                        <option class="options">Blog</option>
                                        <option class="options">Article</option>
                                        <option class="options">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <!-- <label> Possitive Words </label> -->
                                    <select class=" form-control">
                                        <option class="options">Select Label</option>
                                        <option class="options">Website</option>
                                        <option class="options">Blog</option>
                                        <option class="options">Article</option>
                                        <option class="options">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-4 px-md-1">
                                <div class=" form-group">
                                    <!-- <label> Possitive Words </label> -->
                                    <select class=" form-control">
                                        <option class="options">Select Label</option>
                                        <option class="options">Website</option>
                                        <option class="options">Blog</option>
                                        <option class="options">Article</option>
                                        <option class="options">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <br /><br />
                        <div class=" row">

                            <h3 class="title">Time Stamp</h3>

                        </div>

                        <div class=" row">
                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> Start Date </label>
                                    <input class=" form-control" type="date" id="startDate" name="startDate">
                                </div>
                            </div>

                            <div class=" col-md-6 px-md-1">
                                <div class=" form-group">
                                    <label> End Date </label>
                                    <input class=" form-control" type="date" id="endDate" name="endDate">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <br />
                    <div class=" row">
                        <div class=" col-md-1 px-md-1"></div>
                        <div class=" col-md-10 px-md-1">
                            <button class=" btn btn-fill btn-danger lastbtn" type="submit">Search</button>
                        </div>
                        <!-- <div class=" col-md-5 px-md-1">
                            <button class=" btn btn-fill btn-danger lastbtn" type="submit">API Search</button>
                        </div> -->
                    </div>

                    <br /> <br />
                    <div class=" row">
                        <div class=" col-md-1 px-md-1"></div>
                        <div class=" col-md-10 px-md-1">
                            <button class=" btn btn-fill btn-danger lastbtn" type="submit">API Search</button>
                        </div>
                        <!-- <div class=" col-md-5 px-md-1">
                            <button class=" btn btn-fill btn-danger lastbtn" type="submit">API Search</button>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>