.headng{
    //text-align: center;
    color: goldenrod;
}

.tblhdr{
    text-align: center;
    color: honeydew;
}
.tblbdy{
    color: honeydew;
}
.pagn{
    background-color: black;
}

.otherTitle{
    color: indianred;
    text-align: center;
}

.otherAuthor{
    color:lightslategrey;
    text-align: center; 
}

.otherSummaryHead{
    color:lightslategrey;
}

.otherSummarybody{
    color:lightslategrey;
}

.otherUrl{
color: green;
}
.btn-more{
    font-weight: bold;
    color:brown;
}